*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p-Container .p-Content{
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.p-Container .p-Blur{
    backdrop-filter: blur(1px);
}

.p-Container .p-Whitebg{
    background: #e8e8e87c;
}

.p-Container .p-Darkbg{
    background: #0000007c;
}

.p-Container .p-Content-v{
    display: block;
}

.p-Container .p-Content .Pop{
    max-width: 500px;
    position: relative;
    margin: auto;
}

.p-Container .p-Content .Pop .p-Close{
    text-decoration: none;
    cursor: pointer;
    top: 0;
    left: calc(100% - 1em);
    position: absolute;
    font-size: 20px;
}

.p-Container .p-Animation{
    animation: on .3s forwards;
}

.p-Container .p-Animation-r{
    animation: off .3s forwards;
}

.p-Container .p-Center{
    align-items: center;
}

@keyframes on {
    0%{
    padding-top: 0px;
    opacity: 0;
    }
    100%{
    padding-top: 20px;
    opacity: 1;
    }
}

@keyframes off {
    0%{
    padding-top: 20px;
    opacity: 1;
    }
    100%{
    padding-top: 0px;
    opacity: 0;
    }
}
