.p-Container .p-Content{
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
}

.p-Container .p-Blur{
    backdrop-filter: blur(1px);
}

.p-Container .p-Whitebg{
    background: #e8e8e87c;
}

.p-Container .p-Darkbg{
    background: #0000007c;
}

.p-Container .p-Content-v{
    display: flex;
}

.p-Container .p-Content .Pop{
    position: absolute;
    transform: translate(0, 0);
}

.p-Container .p-Content .Pop .p-Close{
    text-decoration: none;
    cursor: pointer;
    top: 0;
    left: calc(100% - 1em);
    position: absolute;
}

.p-Container .p-Animation{
    animation: on .3s forwards;
}

.p-Container .p-Animation-r{
    animation: off .3s forwards;
}

.p-Container .p-Center{
    align-items: center;
}

@keyframes on {
    0%{
    padding-top: 0px;
    opacity: 0;
    }
    100%{
    padding-top: 20px;
    opacity: 1;
    }
}

@keyframes off {
    0%{
    padding-top: 20px;
    opacity: 1;
    }
    100%{
    padding-top: 0px;
    opacity: 0;
    }
}