.p-Container .p-Content{
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
}

.p-Container .p-Blur{
    backdrop-filter: blur(1px);
}

.p-Container .p-Content-v{
    display: flex;
}

.p-Container .p-Content .Pop{
    position: absolute;
}

.p-Container .p-Content .Pop .p-Close{
    text-decoration: none;
    cursor: pointer;
    top: 0;
    left: calc(100% - 1em);
    position: absolute;
}

/* .p-Container .p-Slim{
    padding: 10px;
    width: 100%;
    height: auto;
    display: none;
    position: absolute;
    justify-content: unset;
}

.p-Container .p-Slim-v{
    display: flex;
} */

.p-Container .p-Center{
    align-items: center;
}